<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="modal-body">
    <section class="section faq"><!-- F.A.Q Section -->
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">F.A.Q</h5>
                        <div class="accordion accordion-flush" id="faq-group-1">

                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed"
                                            data-bs-target="#faqsOne-1"
                                            type="button"
                                            data-bs-toggle="collapse"
                                            th:text="#{faq.1}">
                                    </button>
                                </h2>
                                <div id="faqsOne-1"
                                     class="accordion-collapse collapse"
                                     data-bs-parent="#faq-group-1">
                                    <div class="accordion-body" th:text="#{faq.a.1}">
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed"
                                            data-bs-target="#faqsOne-2"
                                            type="button"
                                            data-bs-toggle="collapse"
                                            th:text="#{faq.2}">
                                    </button>
                                </h2>
                                <div id="faqsOne-2"
                                     class="accordion-collapse collapse"
                                     data-bs-parent="#faq-group-1">
                                    <div class="accordion-body"
                                         th:text="#{faq.a.2}">
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed"
                                            data-bs-target="#faqsOne-3"
                                            type="button"
                                            data-bs-toggle="collapse"
                                            th:text="#{faq.3}">
                                    </button>
                                </h2>
                                <div id="faqsOne-3"
                                     class="accordion-collapse collapse"
                                     data-bs-parent="#faq-group-1">
                                    <div class="accordion-body"
                                         th:text="#{faq.a.3}">
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed"
                                            data-bs-target="#faqsOne-4"
                                            type="button"
                                            data-bs-toggle="collapse"
                                            th:text="#{faq.4}">
                                    </button>
                                </h2>
                                <div id="faqsOne-4"
                                     class="accordion-collapse collapse"
                                     data-bs-parent="#faq-group-1">
                                    <div class="accordion-body"
                                         th:text="#{faq.a.4}">
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed"
                                            data-bs-target="#faqsOne-5"
                                            type="button"
                                            data-bs-toggle="collapse"
                                            th:text="#{faq.5}">
                                    </button>
                                </h2>
                                <div id="faqsOne-5"
                                     class="accordion-collapse collapse"
                                     data-bs-parent="#faq-group-1">
                                    <div class="accordion-body"
                                         th:text="#{faq.a.5}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End F.A.Q Section -->
</body>
</html>