<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Footer Fragment</title>
</head>
<body>
<!-- ======= Footer ======= -->
<footer class="footer">
    <div class="copyright">
        &copy; Copyright <strong><span>Telerik Academy</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
        Developed by <a href="https://gitlab.com/p3405/review-it" th:href="@{'https://gitlab.com/p3405/review-it'}">Team
        2, Alpha Java 33</a>
    </div>
</footer><!-- End Footer -->
</body>
</html>