<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
        <a href="#" th:href="@{/}" class="logo d-flex align-items-center">
            <img src="#" th:href="@{/img/logo.png}" alt="">
            <span class="d-none d-lg-block">ReviewIT</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">

            <li class="nav-item d-block d-lg-none">
                <a class="nav-link nav-icon search-bar-toggle " href="#">
                    <i class="bi bi-search"></i>
                </a>
            </li><!-- End Search Icon-->

            <!--            <li class="nav-item dropdown">-->

            <!--                <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">-->
            <!--                    <i class="bi bi-bell"></i>-->
            <!--                    <span class="badge bg-primary badge-number">4</span>-->
            <!--                </a> &lt;!&ndash; End Notification Icon &ndash;&gt;-->

            <!--                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">-->
            <!--                    <li class="dropdown-header">-->
            <!--                        You have 4 new notifications-->
            <!--                        <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>-->
            <!--                    </li>-->
            <!--                    <li>-->
            <!--                        <hr class="dropdown-divider">-->
            <!--                    </li>-->

            <!--                    <li class="notification-item">-->
            <!--                        <i class="bi bi-exclamation-circle text-warning"></i>-->
            <!--                        <div>-->
            <!--                            <h4>Lorem Ipsum</h4>-->
            <!--                            <p>Quae dolorem earum veritatis oditseno</p>-->
            <!--                            <p>30 min. ago</p>-->
            <!--                        </div>-->
            <!--                    </li>-->

            <!--                    <li>-->
            <!--                        <hr class="dropdown-divider">-->
            <!--                    </li>-->

            <!--                    <li class="notification-item">-->
            <!--                        <i class="bi bi-x-circle text-danger"></i>-->
            <!--                        <div>-->
            <!--                            <h4>Atque rerum nesciunt</h4>-->
            <!--                            <p>Quae dolorem earum veritatis oditseno</p>-->
            <!--                            <p>1 hr. ago</p>-->
            <!--                        </div>-->
            <!--                    </li>-->

            <!--                    <li>-->
            <!--                        <hr class="dropdown-divider">-->
            <!--                    </li>-->

            <!--                    <li class="notification-item">-->
            <!--                        <i class="bi bi-check-circle text-success"></i>-->
            <!--                        <div>-->
            <!--                            <h4>Sit rerum fuga</h4>-->
            <!--                            <p>Quae dolorem earum veritatis oditseno</p>-->
            <!--                            <p>2 hrs. ago</p>-->
            <!--                        </div>-->
            <!--                    </li>-->

            <!--                    <li>-->
            <!--                        <hr class="dropdown-divider">-->
            <!--                    </li>-->

            <!--                    <li class="notification-item">-->
            <!--                        <i class="bi bi-info-circle text-primary"></i>-->
            <!--                        <div>-->
            <!--                            <h4>Dicta reprehenderit</h4>-->
            <!--                            <p>Quae dolorem earum veritatis oditseno</p>-->
            <!--                            <p>4 hrs. ago</p>-->
            <!--                        </div>-->
            <!--                    </li>-->

            <!--                    <li>-->
            <!--                        <hr class="dropdown-divider">-->
            <!--                    </li>-->
            <!--                    <li class="dropdown-footer">-->
            <!--                        <a href="#">Show all notifications</a>-->
            <!--                    </li>-->

            <!--                </ul>&lt;!&ndash; End Notification Dropdown Items &ndash;&gt;-->

            <!--            </li>&lt;!&ndash; End Notification Nav &ndash;&gt;-->

            <li class="nav-item dropdown pe-3">

                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                    <img src="#" th:src="@{${loggedUser.getPhotoURL()}}" alt="Profile"
                         class="rounded-circle">
                    <span class="d-none d-md-block dropdown-toggle ps-2" th:text="${loggedUser.getUsername()}"></span>
                </a><!-- End Profile Image Icon -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                    <li class="dropdown-header">
                        <h6 th:text="${loggedUser.getEmail()}"></h6>
                        <span>Email</span>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="../users-profile.html"
                           th:href="@{/users/profile}">
                            <i class="bi bi-person"></i>
                            <span>My Profile</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="#" th:href="@{/auth/logout}">
                            <i class="bi bi-box-arrow-right"></i>
                            <span>Sign Out</span>
                        </a>
                    </li>

                </ul><!-- End Profile Dropdown Items -->
            </li><!-- End Profile Nav -->

        </ul>
    </nav><!-- End Icons Navigation -->

</header><!-- End Header -->
</body>
</html>