<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
            <a class="nav-link " href="#" th:href="@{/}">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#teams-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-people"></i><span>My Teams</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="teams-nav" class="nav-content collapse" th:each="team : ${loggedUserTeams}">
                <li class="nav-item">
                    <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse"
                       th:attr="data-bs-target=${'#forms-nav'+team.getId()}" href="#">
                        <i class="bi bi-people"></i><span th:text="${team.getName()}">My Team</span><i
                            class="bi bi-chevron-down ms-auto"></i>
                    </a>
                    <ul th:attr="id=${'forms-nav'+team.getId()}" class="nav-content collapse ">
                        <li>
                            <a href="#" th:href="@{'/teams/' + ${team.getId()}}" th:text="'Members'">
                                <i class="bi bi-circle"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" th:href="@{'/teams/' + ${team.getId()} + '/items'}" th:text="'Items'">
                                <i class="bi bi-circle"></i>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="#" th:href="@{/items/requests}">
                <i class="bi bi-send"></i>
                <span>My Requests</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" th:href="@{/items/reviews}">
                <i class="bi bi-file-bar-graph"></i>
                <span>My Reviews</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" th:href="@{/items/new}">
                <i class="bi bi-file-earmark-plus"></i>
                <span>Create Request</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="#" th:href="@{/teams/new}">
                <i class="bi bi-person-plus"></i>
                <span>Create Team</span>
            </a>
        </li>

        <li class="nav-heading">More</li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" th:href="@{../faq}">
                <i class="bi bi-question-circle"></i>
                <span>F.A.Q</span>
            </a>
        </li><!-- End F.A.Q Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="#" th:href="@{../contact}">
                <i class="bi bi-envelope"></i>
                <span>Contact Us</span>
            </a>
        </li><!-- End Contact Page Nav -->
    </ul>
</aside><!-- End Sidebar-->
</body>
</html>