<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Sign Up</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="../static/img/favicon.png" th:href="@{/img/favicon.png}" rel="icon">
    <link href="../static/img/apple-touch-icon.png" th:href="@{/img/apple-touch-icon.png}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" th:href="@{'https://fonts.gstatic.com'}" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          th:href="@{'https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i'}"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet">
    <link href="../static/vendor/bootstrap-icons/bootstrap-icons.css"
          th:href="@{/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
    <link href="../static/vendor/boxicons/css/boxicons.min.css" th:href="@{/vendor/boxicons/css/boxicons.min.css}"
          rel="stylesheet">
    <link href="../static/vendor/quill/quill.snow.css" th:href="@{/vendor/quill/quill.snow.css}" rel="stylesheet">
    <link href="../static/vendor/quill/quill.bubble.css" th:href="@{/vendor/quill/quill.bubble.css}" rel="stylesheet">
    <link href="../static/vendor/remixicon/remixicon.css" th:href="@{/vendor/remixicon/remixicon.css}" rel="stylesheet">
    <link href="../static/vendor/simple-datatables/style.css" th:href="@{/vendor/simple-datatables/style.css}"
          rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">

    <!-- =======================================================
    * Template Name: NiceAdmin - v2.2.0
    * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body id="index-body">

<main>
    <div class="container">

        <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                        <div class="d-flex justify-content-center py-4">
                            <a href="index.html" th:href="@{/}" class="logo d-flex align-items-center w-auto">
                                <img src="../static/img/logo.png" th:src="@{/img/logo.png}" alt="">
                                <span class="d-none d-lg-block">ReviewIT</span>
                            </a>
                        </div><!-- End Logo -->

                        <div class="card mb-3">

                            <div class="card-body">

                                <div class="pt-4 pb-2">
                                    <h5 class="card-title text-center pb-0 fs-4">Create an Account</h5>
                                </div>

                                <form class="row g-3 needs-validation" th:object="${registerDTO}" method="post"
                                      novalidate>
                                    <div class="col-12">
                                        <label for="yourUsername" class="form-label">Username</label>
                                        <input type="text" name="name" class="form-control" id="yourName"
                                               th:field="*{username}" required>
                                        <div class="invalid-feedback">Please, enter your name!</div>
                                    </div>
                                    <div class="col-12 text-center">
                                        <label class="error" style="color:red; align-content: center"
                                               th:errors="*{username}">Login
                                            error placeholder</label>
                                    </div>

                                    <div class="col-12">
                                        <label for="yourEmail" class="form-label">Email</label>
                                        <input type="email" name="email" class="form-control" id="yourEmail"
                                               th:field="*{email}" required>
                                        <div class="invalid-feedback">Please enter a valid Email address!</div>
                                    </div>
                                    <div class="col-12 text-center">
                                        <label class="error" style="color:red; align-content: center"
                                               th:errors="*{email}">Login
                                            error placeholder</label>
                                    </div>
                                    <div class="col-12">
                                        <label for="yourUsername" class="form-label">Phone Number</label>
                                        <input type="text" name="name" class="form-control" th:field="*{phoneNum}"
                                               required>
                                        <div class="invalid-feedback">Please, enter your number!</div>
                                    </div>
                                    <div class="col-12 text-center">
                                        <label class="error" style="color:red; align-content: center"
                                               th:errors="*{phoneNum}">Login
                                            error placeholder</label>
                                    </div>

                                    <div class="col-12">
                                        <label for="yourPassword" class="form-label">Password</label>
                                        <div class="input-group has-validation">
                                            <input type="password" name="password" class="form-control"
                                                   th:field="*{password}" id="yourUsername"
                                                   required>
                                            <div class="invalid-feedback">Please enter your password!</div>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <label for="yourPassword" class="form-label">Confirm Password</label>
                                        <input type="password" name="password" class="form-control"
                                               th:field="*{passwordConfirm}" id="yourPassword"
                                               required>
                                        <div class="invalid-feedback">Please confirm your password!</div>
                                    </div>
                                    <div class="col-12 text-center">
                                        <label class="error" style="color:red; align-content: center"
                                               th:errors="*{passwordConfirm}">Login
                                            error placeholder</label>
                                    </div>

                                    <!--                                    <div class="col-12">-->
                                    <!--                                        <div class="form-check">-->
                                    <!--                                            <input class="form-check-input" name="terms" type="checkbox" value=""-->
                                    <!--                                                   id="acceptTerms" required>-->
                                    <!--                                            <label class="form-check-label" for="acceptTerms">I agree and accept the <a-->
                                    <!--                                                    href="#">terms and conditions</a></label>-->
                                    <!--                                            <div class="invalid-feedback">You must agree before submitting.</div>-->
                                    <!--                                        </div>-->
                                    <!--                                    </div>-->
                                    <div class="col-12">
                                        <button class="btn btn-primary w-100" type="submit">Create Account</button>
                                    </div>
                                    <div class="col-12">
                                        <p class="small mb-0">Already have an account? <a href="pages-login.html"
                                                                                          th:href="@{/auth/login}">Sign
                                            in</a></p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main><!-- End #main -->

<!-- Vendor JS Files -->
<script src="../static/vendor/apexcharts/apexcharts.min.js" th:src="@{/vendor/apexcharts/apexcharts.min.js}"></script>
<script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"
        th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script src="../static/vendor/chart.js/chart.min.js" th:src="@{/vendor/chart.js/chart.min.js}"></script>
<script src="../static/vendor/echarts/echarts.min.js" th:src="@{/vendor/echarts/echarts.min.js}"></script>
<script src="../static/vendor/quill/quill.min.js" th:src="@{/vendor/quill/quill.min.js}"></script>
<script src="../static/vendor/simple-datatables/simple-datatables.js"
        th:src="@{/vendor/simple-datatables/simple-datatables.js}"></script>
<script src="../static/vendor/tinymce/tinymce.min.js" th:src="@{/vendor/tinymce/tinymce.min.js}"></script>
<script src="../static/vendor/php-email-form/validate.js" th:src="@{/vendor/php-email-form/validate.js}"></script>

<!-- Template Main JS File -->
<script src="../static/js/main.js" th:src="@{/js/main.js}"></script>

</body>

</html>