<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Team</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="../static/img/favicon.png" th:href="@{img/favicon.png}" rel="icon">
    <link href="../static/img/apple-touch-icon.png" th:href="@{img/apple-touch-icon.png}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" th:href="@{'https://fonts.gstatic.com'}" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          th:href="@{'https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i'}"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet">
    <link href="../static/vendor/bootstrap-icons/bootstrap-icons.css"
          th:href="@{/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
    <link href="../static/vendor/boxicons/css/boxicons.min.css" th:href="@{/vendor/boxicons/css/boxicons.min.css}"
          rel="stylesheet">
    <link href="../static/vendor/quill/quill.snow.css" th:href="@{/vendor/quill/quill.snow.css}" rel="stylesheet">
    <link href="../static/vendor/quill/quill.bubble.css" th:href="@{/vendor/quill/quill.bubble.css}" rel="stylesheet">
    <link href="../static/vendor/remixicon/remixicon.css" th:href="@{/vendor/remixicon/remixicon.css}" rel="stylesheet">
    <link href="../static/vendor/simple-datatables/style.css" th:href="@{/vendor/simple-datatables/style.css}"
          rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">

    <!-- =======================================================
    * Template Name: NiceAdmin - v2.2.0
    * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

<!-- ======= Header ======= -->
<div th:insert="fragments/header-logged-in"></div>
<!-- End Header -->

<!-- ======= Sidebar ======= -->
<div th:insert="fragments/sidebar-logged-in"></div>
<!-- End Sidebar-->

<main id="main" class="main">

    <div class="pagetitle">
        <h1>My Team</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#" th:href="@{/}">Home</a></li>
                <li class="breadcrumb-item">My Team</li>
                <li class="breadcrumb-item active">Members</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <form class="margin-top col-4 float-right" style="display: inline-flex;margin-bottom: 20px;" action="#"
          th:method="post" th:object="${filterUserDTO}">

        <div class="input-group  col-6 float-right">
            <input type="text" value="Search by..." class="form-control" th:field="*{searchAll}"/>
        </div>

        <button type="submit" class="btn btn-primary"><i class="bi bi-search  float-right"></i></button>

        <div class="col-6 float-right" style="margin-left: 20px">
            <select class="form-select" aria-label="Default select example" onchange="this.form.submit()"
                    th:field="*{sortBy}">
                <option selected th:value="default">Sort By</option>
                <option th:each="sortParam : ${sortParamsMembers}"
                        th:text="${sortParam.toString()}"
                        th:value="${sortParam.toString()}">Sort By
                </option>
            </select>
        </div>

        <div th:if="${isOwner}" class="col-6 float-right" style="margin-left: 420px">
            <a class="btn btn-primary" href="#" th:href="@{/teams/{teamID}/addMember(teamID=${team.getId()})}">Add
                Member</a>
        </div>

    </form>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Team Members</h5>

            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Member ID</th>
                    <th scope="col"></th>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col" th:if="${isOwner}">Delete</th>
                </thead>
                <tbody>
                <tr th:each="user : ${members}">
                    <th scope="row" th:text="${user.getID()}"></th>
                    <th><img src="#" th:src="@{${user.getPhotoURL()}}" alt="Profile" class="rounded-circle" width="50px"
                             height="50px"></th>
                    <th scope="row" th:text="${user.getUsername()}"></th>
                    <td><a th:href="'mailto: ' + ${user.getEmail()}" th:text="${user.getEmail()}"></a></td>
                    <td><a th:href="'tel:' + ${user.getPhoneNumber()}" th:text="${user.getPhoneNumber()}"></a></td>
                    <th th:if="${isOwner}" scope="row"><a class="bi bi-x-circle-fill" data-bs-toggle="modal"
                                                          th:unless="${loggedUser.getID()==user.getID()}"
                                                          data-bs-target="#basicModal"
                                                          th:attr="data-bs-target=${'#basicModal' + user.getID()}"></a>
                    </th>
                    <!-- Basic Modal -->
                    <div class="modal fade" id="basicModal" th:attr="id=${'basicModal' + user.getID()}" tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Delete Request</h5>
                                </div>
                                <div class="modal-body"
                                     th:text="'Are you sure you want to remove '+${user.getUsername()}"></div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                                    </button>
                                    <a class="btn btn-danger"
                                       th:href="@{/teams/{teamID}/removeMember/{memberID}(teamID=${team.getId()},memberID=${user.getID()})}">Remove</a>
                                </div>
                            </div>
                        </div>
                    </div><!-- End Basic Modal-->
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
</main><!-- End #main -->

<!-- ======= Footer ======= -->
<div id="footer" th:insert="fragments/footer :: footer"></div>
<!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="../static/vendor/apexcharts/apexcharts.min.js" th:src="@{/vendor/apexcharts/apexcharts.min.js}"></script>
<script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"
        th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script src="../static/vendor/chart.js/chart.min.js" th:src="@{/vendor/chart.js/chart.min.js}"></script>
<script src="../static/vendor/echarts/echarts.min.js" th:src="@{/vendor/echarts/echarts.min.js}"></script>
<script src="../static/vendor/quill/quill.min.js" th:src="@{/vendor/quill/quill.min.js}"></script>
<script src="../static/vendor/simple-datatables/simple-datatables.js"
        th:src="@{/vendor/simple-datatables/simple-datatables.js}"></script>
<script src="../static/vendor/tinymce/tinymce.min.js" th:src="@{/vendor/tinymce/tinymce.min.js}"></script>
<script src="../static/vendor/php-email-form/validate.js" th:src="@{/vendor/php-email-form/validate.js}"></script>

<!-- Template Main JS File -->
<script src="../static/js/main.js" th:src="@{/js/main.js}"></script>

</body>

</html>