<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Request</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="../static/img/favicon.png" th:href="@{img/favicon.png}" rel="icon">
    <link href="../static/img/apple-touch-icon.png" th:href="@{img/apple-touch-icon.png}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" th:href="@{'https://fonts.gstatic.com'}" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          th:href="@{'https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i'}"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet">
    <link href="../static/vendor/bootstrap-icons/bootstrap-icons.css"
          th:href="@{/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
    <link href="../static/vendor/boxicons/css/boxicons.min.css" th:href="@{/vendor/boxicons/css/boxicons.min.css}"
          rel="stylesheet">
    <link href="../static/vendor/quill/quill.snow.css" th:href="@{/vendor/quill/quill.snow.css}" rel="stylesheet">
    <link href="../static/vendor/quill/quill.bubble.css" th:href="@{/vendor/quill/quill.bubble.css}" rel="stylesheet">
    <link href="../static/vendor/remixicon/remixicon.css" th:href="@{/vendor/remixicon/remixicon.css}" rel="stylesheet">
    <link href="../static/vendor/simple-datatables/style.css" th:href="@{/vendor/simple-datatables/style.css}"
          rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">

    <!-- =======================================================
    * Template Name: NiceAdmin - v2.2.0
    * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>
<!-- ======= Header ======= -->
<div th:insert="fragments/header-logged-in"></div>
<!-- End Header -->

<!-- ======= Sidebar ======= -->
<div th:insert="fragments/sidebar-logged-in"></div>
<!-- End Sidebar-->

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Update Item</h1>
    </div><!-- End Page Title -->

    <form th:object="${itemDTO}" method="post" enctype="multipart/form-data">
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">Title</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Title" th:field="*{title}"
                       th:placeholder="${item.getTitle()}">
                <p style="color:red; align-content: center" th:errorclass="error" th:errors="*{title}"></p>
            </div>
        </div>

        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">Description</label>
            <div class="col-sm-10">
                <textarea class="form-control" style="height: 100px" placeholder="Description" th:field="*{description}"
                          th:placeholder="${item.getDescription()}"></textarea>
                <p style="color:red; align-content: center" th:errorclass="error" th:errors="*{description}"></p>
            </div>
        </div>

        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">Team</label>
            <div class="col-sm-10">
                <select class="form-select" aria-label="Default select example" th:field="*{teamID}"
                        th:placeholder="${item.getTeam().getName()}">
                    <option selected th:value="${item.getTeam().getId()}" th:text="${item.getTeam().getName()}">Select
                        Team
                    </option>
                    <option th:each="team : ${teams}"
                            th:value="${team.getId()}"
                            th:text="${team.getName()}">Team
                    </option>
                </select>
                <p style="color:red; align-content: center" th:errorclass="error" th:errors="*{teamID}"></p>
            </div>
        </div>

        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">Reviewer</label>
            <div class="col-sm-10">
                <select class="form-select" aria-label="Default select example" th:field="*{reviewerID}"
                        th:placeholder="${item.getReviewer().getUsername()}">
                    <option selected th:value="${item.getReviewer().getID()}"
                            th:text="${item.getReviewer.getUsername()}">Select Reviewer
                    </option>
                    <option th:each="user : ${users}"
                            th:value="${user.getID()}"
                            th:text="${user.getUsername()}">Reviewer
                    </option>
                </select>
                <p style="color:red; align-content: center" th:errorclass="error" th:errors="*{reviewerID}"></p>
            </div>
        </div>

        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">Creator</label>
            <div class="col-sm-10">
                <select class="form-select" aria-label="Default select example" th:field="*{creatorID}">
                    <option selected th:value="${item.getCreator().getID()}"
                            th:text="${item.getCreator().getUsername()}">Creator
                    </option>
                </select>
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">Status</label>
            <div class="col-sm-10">
                <select class="form-select" aria-label="Default select example" th:field="*{statusID}"
                        th:placeholder="${item.getStatus().getName()}">
                    <option selected th:value="${item.getStatus().getId()}" th:text="${item.getStatus().getName()}">
                        Status
                    </option>
                    <option th:each="status : ${statuses}"
                            th:value="${status.getId()}"
                            th:text="${status.getName()}">Reviewer
                    </option>
                </select>
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">New Comment</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="New Comment" th:field="*{comment}">
                <p style="color:red; align-content: center" th:errorclass="error" th:errors="*{comment}"></p>
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Comments</h5>
                        <!-- List group with custom content -->
                        <ol class="list-group list-group" th:each="comment : ${comments}">
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                    <div class="fw-bold" th:text="${item.getReviewer().getUsername()}">Reviewer
                                        Username
                                    </div>
                                    <div th:text="${comment.getContent()}">Comment content</div>
                                </div>
                            </li>
                        </ol><!-- End with custom content -->
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">Upload Attachment</label>
            <div class="col-sm-10">
                <input class="form-control" type="file" id="formFile" th:field="*{attachment}">
            </div>
        </div>

        <div class="col-12 text-center">
            <label class="error" style="color:red; align-content: center" th:errors="*{creatorID}">Item
                error placeholder</label>
        </div>
        <div class="col-12 text-center">
            <label class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Update</button>
            </div>
        </div>

    </form><!-- End General Form Elements -->

    <div th:if="${item.hasAttachments()}" class="col-12 text-center">
        <label class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <a th:href="@{/items/__${item.getId()}__/download-attachments}">
                <button class="btn btn-primary">Download Attachments</button>
            </a>
        </div>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
</main><!-- End #main -->

<!-- ======= Footer ======= -->
<div id="footer" th:insert="fragments/footer :: footer"></div>
<!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="../static/vendor/apexcharts/apexcharts.min.js" th:src="@{/vendor/apexcharts/apexcharts.min.js}"></script>
<script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"
        th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script src="../static/vendor/chart.js/chart.min.js" th:src="@{/vendor/chart.js/chart.min.js}"></script>
<script src="../static/vendor/echarts/echarts.min.js" th:src="@{/vendor/echarts/echarts.min.js}"></script>
<script src="../static/vendor/quill/quill.min.js" th:src="@{/vendor/quill/quill.min.js}"></script>
<script src="../static/vendor/simple-datatables/simple-datatables.js"
        th:src="@{/vendor/simple-datatables/simple-datatables.js}"></script>
<script src="../static/vendor/tinymce/tinymce.min.js" th:src="@{/vendor/tinymce/tinymce.min.js}"></script>
<script src="../static/vendor/php-email-form/validate.js" th:src="@{/vendor/php-email-form/validate.js}"></script>

<!-- Template Main JS File -->
<script src="../static/js/main.js" th:src="@{/js/main.js}"></script>

</body>

</html>