<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Select User</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="../static/img/favicon.png" th:href="@{img/favicon.png}" rel="icon">
    <link href="../static/img/apple-touch-icon.png" th:href="@{img/apple-touch-icon.png}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" th:href="@{'https://fonts.gstatic.com'}" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          th:href="@{'https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i'}"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet">
    <link href="../static/vendor/bootstrap-icons/bootstrap-icons.css"
          th:href="@{/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
    <link href="../static/vendor/boxicons/css/boxicons.min.css" th:href="@{/vendor/boxicons/css/boxicons.min.css}"
          rel="stylesheet">
    <link href="../static/vendor/quill/quill.snow.css" th:href="@{/vendor/quill/quill.snow.css}" rel="stylesheet">
    <link href="../static/vendor/quill/quill.bubble.css" th:href="@{/vendor/quill/quill.bubble.css}" rel="stylesheet">
    <link href="../static/vendor/remixicon/remixicon.css" th:href="@{/vendor/remixicon/remixicon.css}" rel="stylesheet">
    <link href="../static/vendor/simple-datatables/style.css" th:href="@{/vendor/simple-datatables/style.css}"
          rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">

    <!-- =======================================================
    * Template Name: NiceAdmin - v2.2.0
    * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

<!-- ======= Header ======= -->
<div th:insert="fragments/header-logged-in"></div>
<!-- End Header -->

<!-- ======= Sidebar ======= -->
<div th:insert="fragments/sidebar-logged-in"></div>
<!-- End Sidebar-->

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Add Member To Team</h1>
    </div><!-- End Page Title -->
    <div>
        <form class="margin-top float-right" style="display: inline-flex;margin-bottom: 20px;margin-top: 20px"
              th:object="${selectedUserDTO}" action="#" method="post">
            <select class="form-select col-1 text-center" onchange="this.form.submit()"
                    aria-label="Default select example" th:field="*{userID}">
                <option selected th:value="-1">Select User</option>
                <option th:each="user : ${users}"
                        th:text="${user.getUsername()}"
                        th:value="${user.getID()}">Select User
                </option>
            </select>
            <div class="col-8 float-right" style="margin-left: 110px">
                <a class="btn btn-primary" href="#"
                   th:href="@{/teams/{teamID}/addMember/{memberID}(teamID=${team.getId()},memberID=${selectedUser.getID()})}">Add
                    Member</a>
            </div>
            <div class="col-12 text-center">
                <label class="error" style="color:red; align-content: center" th:errors="*{userID}">Member error
                    placeholder</label>
            </div>
        </form>
    </div>
    <br>

    <section class="section profile">
        <div class="row">
            <div class="col-xl-4">
                <div class="card">
                    <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                        <img src="#" th:src="@{${selectedUser.getPhotoURL()}}" alt="" class="rounded-circle">
                        <h2 th:text="${selectedUser.getUsername()}"></h2>
                        <h2><a th:href="'mailto:'+${selectedUser.getEmail()}" th:text="${selectedUser.getEmail()}"></a>
                        </h2>
                        <h2><a th:href="'tel:'+${selectedUser.getPhoneNumber()}"
                               th:text="${selectedUser.getPhoneNumber()}"></a></h2>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="card">
                    <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                        <h4 class="bi bi-people-fill">Teams</h4>
                        <h2 th:each="team : ${selectedUserTeams}"
                            th:text="${team.getName()}"></h2>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="col-xl-6">
                    <div class="card">
                        <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                            <h4 class="bi bi-send-fill">Requests</h4>
                            <h2 th:text="${selectedUserRequests}"></h2>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="card">
                        <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                            <h4 class="bi bi-file-bar-graph-fill">Reviews</h4>
                            <h2 th:text="${selectedUserReviews}"></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</main><!-- End #main -->

<!-- ======= Footer ======= -->
<div id="footer" th:insert="fragments/footer :: footer"></div>
<!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="../static/vendor/apexcharts/apexcharts.min.js" th:src="@{/vendor/apexcharts/apexcharts.min.js}"></script>
<script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"
        th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script src="../static/vendor/chart.js/chart.min.js" th:src="@{/vendor/chart.js/chart.min.js}"></script>
<script src="../static/vendor/echarts/echarts.min.js" th:src="@{/vendor/echarts/echarts.min.js}"></script>
<script src="../static/vendor/quill/quill.min.js" th:src="@{/vendor/quill/quill.min.js}"></script>
<script src="../static/vendor/simple-datatables/simple-datatables.js"
        th:src="@{/vendor/simple-datatables/simple-datatables.js}"></script>
<script src="../static/vendor/tinymce/tinymce.min.js" th:src="@{/vendor/tinymce/tinymce.min.js}"></script>
<script src="../static/vendor/php-email-form/validate.js" th:src="@{/vendor/php-email-form/validate.js}"></script>

<!-- Template Main JS File -->
<script src="../static/js/main.js" th:src="@{/js/main.js}"></script>

</body>

</html>