<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>My Profile</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="../static/img/favicon.png" th:href="@{img/favicon.png}" rel="icon">
    <link href="../static/img/apple-touch-icon.png" th:href="@{img/apple-touch-icon.png}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" th:href="@{'https://fonts.gstatic.com'}" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          th:href="@{'https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i'}"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet">
    <link href="../static/vendor/bootstrap-icons/bootstrap-icons.css"
          th:href="@{/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
    <link href="../static/vendor/boxicons/css/boxicons.min.css" th:href="@{/vendor/boxicons/css/boxicons.min.css}"
          rel="stylesheet">
    <link href="../static/vendor/quill/quill.snow.css" th:href="@{/vendor/quill/quill.snow.css}" rel="stylesheet">
    <link href="../static/vendor/quill/quill.bubble.css" th:href="@{/vendor/quill/quill.bubble.css}" rel="stylesheet">
    <link href="../static/vendor/remixicon/remixicon.css" th:href="@{/vendor/remixicon/remixicon.css}" rel="stylesheet">
    <link href="../static/vendor/simple-datatables/style.css" th:href="@{/vendor/simple-datatables/style.css}"
          rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">

    <!-- =======================================================
    * Template Name: NiceAdmin - v2.2.0
    * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>


<main id="main" class="main">

    <!-- ======= Header ======= -->
    <div th:insert="fragments/header-logged-in"></div>
    <!-- End Header -->

    <!-- ======= Sidebar ======= -->
    <div th:insert="fragments/sidebar-logged-in"></div>
    <!-- End Sidebar-->

    <div class="pagetitle">
        <h1>My Profile</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#" th:href="@{/}">Home</a></li>
                <li class="breadcrumb-item">Users</li>
                <li class="breadcrumb-item active">Profile</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section profile">
        <div class="row">
            <div class="col-xl-4">

                <div class="card">
                    <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

                        <img src="#" th:src="@{${loggedUser.getPhotoURL()}}" alt="" class="rounded-circle">
                        <h2 th:text="${loggedUser.getUsername()}"></h2>
                        <h2 th:text="${loggedUser.getEmail()}"></h2>
                    </div>
                </div>

            </div>

            <div class="col-xl-8">

                <div class="card">
                    <div class="card-body pt-3">
                        <!-- Bordered Tabs -->
                        <ul class="nav nav-tabs nav-tabs-bordered">

                            <li class="nav-item">
                                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-edit">
                                    Edit Profile
                                </button>
                            </li>

                        </ul>
                        <!--                        <div class="tab-content pt-2">-->

                        <!--                            <div class="tab-pane fade show active profile-overview" id="profile-overview">-->
                        <!--                                <h5 class="card-title">Profile Details</h5>-->

                        <!--                                <div class="row">-->
                        <!--                                    <div class="col-lg-3 col-md-4 label" th:text="'Username'"></div>-->
                        <!--                                    <div class="col-lg-9 col-md-8" th:text="${loggedUser.getUsername()}"></div>-->
                        <!--                                </div>-->

                        <!--                                <div class="row">-->
                        <!--                                    <div class="col-lg-3 col-md-4 label" th:text="'Email'"></div>-->
                        <!--                                    <div class="col-lg-9 col-md-8" th:text="${loggedUser.getEmail()}"></div>-->
                        <!--                                </div>-->

                        <!--                                <div class="row">-->
                        <!--                                    <div class="col-lg-3 col-md-4 label" th:text="'Phone Number'"></div>-->
                        <!--                                    <div class="col-lg-9 col-md-8" th:text="${loggedUser.getPhoneNumber()}"></div>-->
                        <!--                                </div>-->

                        <!--                            </div>-->

                        <div class="profile-edit pt-3" id="profile-edit">

                            <!-- Profile Edit Form -->
                            <form th:object="${userDTO}" method="post" enctype="multipart/form-data">
                                <div class="row mb-3">
                                    <label class="col-md-4 col-lg-3 col-form-label"
                                           th:text="'Profile Image'"></label>
                                    <div class="col-md-8 col-lg-9">
                                        <img src="#" th:src="@{${loggedUser.getPhotoURL()}}" alt="">
                                        <div class="pt-2">
                                            <input class="form-control" type="file" id="formFile"
                                                   accept="image/png,image/jpeg" th:field="*{profilePicture}">
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="fullName" class="col-md-4 col-lg-3 col-form-label"
                                           th:text="'Username'"></label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="fullName" type="text" class="form-control" id="fullName"
                                               th:value="${loggedUser.getUsername()}" th:field="*{username}">
                                        <p style="color:red; align-content: center" th:errorclass="error"
                                           th:errors="*{username}"></p>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="Phone" class="col-md-4 col-lg-3 col-form-label"
                                           th:text="'Phone Number'"></label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="phone" type="text" class="form-control" id="Phone"
                                               th:value="${loggedUser.getPhoneNumber()}" th:field="*{phoneNum}">
                                        <p style="color:red; align-content: center" th:errorclass="error"
                                           th:errors="*{phoneNum}"></p>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="Email" class="col-md-4 col-lg-3 col-form-label"
                                           th:text="'Email'"></label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="email" type="email" class="form-control" id="Email"
                                               th:value="${loggedUser.getEmail()}" th:field="*{email}">
                                        <p style="color:red; align-content: center" th:errorclass="error"
                                           th:errors="*{email}"></p>
                                    </div>
                                </div>

                                <div class="row mb-3" style="display: none">
                                    <label for="Email" class="col-md-4 col-lg-3 col-form-label"
                                           th:text="'Password'"></label>
                                    <div class="col-md-8 col-lg-9">
                                        <input th:value="${loggedUser.getPassword()}" th:field="*{password}">
                                    </div>
                                </div>

                                <div class="col-12 text-center">
                                    <label class="error" style="color:red; align-content: center"
                                           th:errors="*{password}">User update error placeholder</label>
                                </div>

                                <div class="row mb-3">
                                    <label class="col-md-4 col-lg-3 col-form-label"></label>
                                    <div class="col-md-8 col-lg-9" style="display: inline-flex">
                                        <div class="text-center row-6">
                                            <button type="submit" class="btn btn-primary">Save Changes</button>
                                        </div>
                                        <div class="text-center row-6" style="margin-left: 5px">
                                            <button class="btn btn-info">
                                                <a th:text="'Change Password'"
                                                   th:href="@{/users/profile/change-password}" style="color: white"></a>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form><!-- End Profile Edit Form -->

                        </div>

                    </div>

                </div><!-- End Bordered Tabs -->

            </div>
        </div>

    </section>

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<div id="footer" th:insert="fragments/footer :: footer"></div>
<!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="../static/vendor/apexcharts/apexcharts.min.js" th:src="@{/vendor/apexcharts/apexcharts.min.js}"></script>
<script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"
        th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script src="../static/vendor/chart.js/chart.min.js" th:src="@{/vendor/chart.js/chart.min.js}"></script>
<script src="../static/vendor/echarts/echarts.min.js" th:src="@{/vendor/echarts/echarts.min.js}"></script>
<script src="../static/vendor/quill/quill.min.js" th:src="@{/vendor/quill/quill.min.js}"></script>
<script src="../static/vendor/simple-datatables/simple-datatables.js"
        th:src="@{/vendor/simple-datatables/simple-datatables.js}"></script>
<script src="../static/vendor/tinymce/tinymce.min.js" th:src="@{/vendor/tinymce/tinymce.min.js}"></script>
<script src="../static/vendor/php-email-form/validate.js" th:src="@{/vendor/php-email-form/validate.js}"></script>

<!-- Template Main JS File -->
<script src="../static/js/main.js" th:src="@{/js/main.js}"></script>

</body>

</html>