<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>My Requests</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="../static/img/favicon.png" th:href="@{img/favicon.png}" rel="icon">
    <link href="../static/img/apple-touch-icon.png" th:href="@{img/apple-touch-icon.png}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" th:href="@{'https://fonts.gstatic.com'}" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          th:href="@{'https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i'}"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet">
    <link href="../static/vendor/bootstrap-icons/bootstrap-icons.css"
          th:href="@{/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
    <link href="../static/vendor/boxicons/css/boxicons.min.css" th:href="@{/vendor/boxicons/css/boxicons.min.css}"
          rel="stylesheet">
    <link href="../static/vendor/quill/quill.snow.css" th:href="@{/vendor/quill/quill.snow.css}" rel="stylesheet">
    <link href="../static/vendor/quill/quill.bubble.css" th:href="@{/vendor/quill/quill.bubble.css}" rel="stylesheet">
    <link href="../static/vendor/remixicon/remixicon.css" th:href="@{/vendor/remixicon/remixicon.css}" rel="stylesheet">
    <link href="../static/vendor/simple-datatables/style.css" th:href="@{/vendor/simple-datatables/style.css}"
          rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">

    <!-- =======================================================
    * Template Name: NiceAdmin - v2.2.0
    * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

<!-- ======= Header ======= -->
<div th:insert="fragments/header-logged-in"></div>
<!-- End Header -->

<!-- ======= Sidebar ======= -->
<div th:insert="fragments/sidebar-logged-in"></div>
<!-- End Sidebar-->

<main id="main" class="main">

    <div class="pagetitle">
        <h1>My Requests</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#" th:href="@{/}">Home</a></li>
                <li class="breadcrumb-item active">My Requests</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <form class="margin-top col-6 float-right" style="display: inline-flex;margin-bottom: 20px;" action="#"
          th:action="@{/items/requests}" th:method="post"
          th:object="${filterItemDTO}">

        <div class="input-group  col-6 float-right">
            <input type="text" value="Search by..." class="form-control" th:field="*{searchAll}"/>
        </div>
        <button type="submit" class="btn btn-primary">
            <i class="bi bi-search  float-right"></i>
        </button>
        <div class="col-4 float-right" style="margin-right:20px;margin-left: 110px">
            <select class="form-select text-center" onchange="this.form.submit()"
                    aria-label="Default select example" th:field="*{status}">
                <option selected th:value="default">Status</option>
                <option th:each="status : ${statuses}" th:text="${status.getName()}" th:value="${status.getName()}">
                    Status
                </option>
            </select>
        </div>
        <div class="col-4 float-right" style="margin-left: 20px">
            <select class="form-select" aria-label="Default select example" onchange="this.form.submit()"
                    th:field="*{sortBy}">
                <option selected th:value="default">Sort By</option>
                <option th:each="sortParam : ${sortParams}" th:text="${sortParam.toString()}"
                        th:value="${sortParam.toString()}">Sort By
                </option>
            </select>
        </div>
    </form>

    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <!-- Table with stripped rows -->
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Title</th>
                                <th scope="col">Team</th>
                                <th scope="col"></th>
                                <th scope="col">Reviewer</th>
                                <th scope="col">Status</th>
                                <th scope="col">Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="item : ${createdItems}">
                                <th scope="row"><a href="#" th:href="@{/items/{id}/update(id=${item.getId()})}"
                                                   th:text="${item.getId()}">1</a></th>
                                <th scope="row"><a th:text="${item.getTitle()}">Item Title</a></th>
                                <th scope="row"><a th:text="${item.getTeam().getName()}">Team Name</a></th>
                                <th><img src="#" th:src="@{${item.getReviewer().getPhotoURL()}}" alt="Profile"
                                         class="rounded-circle" width="50px" height="50px"></th>
                                <th scope="row"><a th:text="${item.getReviewer().getUsername()}">Item Reviewer</a></th>
                                <th scope="row"><a th:text="${item.getStatus().getName()}">Item Status</a></th>
                                <th scope="row"><a class="bi bi-x-circle-fill" data-bs-toggle="modal"
                                                   data-bs-target="#basicModal"
                                                   th:attr="data-bs-target=${'#basicModal' + item.getId()}"></a></th>
                                <!-- Basic Modal -->
                                <div class="modal fade" id="basicModal" th:attr="id=${'basicModal' + item.getId()}"
                                     tabindex="-1">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Delete Request</h5>
                                            </div>
                                            <div class="modal-body"
                                                 th:text="'Are you sure you want to delete Request: '+${item.getId()}">
                                                Are you sure you want to delete this item?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                    Close
                                                </button>
                                                <a class="btn btn-danger"
                                                   th:href="@{/items/{id}/delete(id=${item.getId()})}">Delete</a>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- End Basic Modal-->
                            </tr>
                            </tbody>
                        </table>
                        <div th:if="${createdItems.isEmpty()}">
                            <h3 style="text-align: center">-- No Requests --</h3>
                        </div>
                        <!--                        End Table with stripped rows -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</main><!-- End #main -->

<!-- ======= Footer ======= -->
<div id="footer" th:insert="fragments/footer :: footer"></div>
<!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="../static/vendor/apexcharts/apexcharts.min.js" th:src="@{/vendor/apexcharts/apexcharts.min.js}"></script>
<script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"
        th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script src="../static/vendor/chart.js/chart.min.js" th:src="@{/vendor/chart.js/chart.min.js}"></script>
<script src="../static/vendor/echarts/echarts.min.js" th:src="@{/vendor/echarts/echarts.min.js}"></script>
<script src="../static/vendor/quill/quill.min.js" th:src="@{/vendor/quill/quill.min.js}"></script>
<script src="../static/vendor/simple-datatables/simple-datatables.js"
        th:src="@{/vendor/simple-datatables/simple-datatables.js}"></script>
<script src="../static/vendor/tinymce/tinymce.min.js" th:src="@{/vendor/tinymce/tinymce.min.js}"></script>
<script src="../static/vendor/php-email-form/validate.js" th:src="@{/vendor/php-email-form/validate.js}"></script>

<!-- Template Main JS File -->
<script src="../static/js/main.js" th:src="@{/js/main.js}"></script>

</body>

</html>